/* Fonts */
	@font-face {
		font-family: 'Packard Antique Bold';
		src: url('../fonts/PackardAntique-Bold.ttf');
	}
	@font-face {
		font-family: 'Packard Antique';
		src: url('../fonts/PackardAntique.ttf');
	}
	@font-face {
		font-family: 'Shippori Mincho';
		src: url('../fonts/ShipporiMinchoB1-ExtraBold.ttf');
	}
	@font-face {
		font-family: 'Calisto MT';
		src: url('../fonts/CALIST.TTF');
	}
	@font-face {
		font-family: 'OPTIPaulDavid';
		src: url('../fonts/OPTIPaulDavid.otf');
	}
	@font-face {
		font-family: 'Deepdene Roman';
		src: url('../fonts/Deepdene\ Roman.ttf');
	}



/* Template */
	.character-sheet {
		position: relative;
		height: fit-content;
		margin-left: auto;
		margin-right: 2vw;
		margin-top: 5rem;
		max-width: 50rem;
	}

	.character-sheet .template {
		display: block;
		width: 100%;
	}

	.character-sheet-subcontainer {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}



/* Header text */
	.header-container {
		position: absolute;
		top: 2.3em;
		left: 7em;
	}

	.sheet-type-label {
		position: absolute;
		top: 0.3em;
	}

	.sheet-type-number {
		position: absolute;
		top: -0.9em;
		left: 7em;
		letter-spacing: -0.3em;
	}

	.race-type {
		position: absolute;
		top: 1.95em;
		left: 31em;
	}

	/* Font */
	.sheet-type-label p {
		font-family: 'Packard Antique';
		font-size: 0.82em;
	}

	.sheet-type-number p {
		font-family: 'OPTIPaulDavid';
		margin: 0;
		font-size: 3.5em;
	}

	.race-type p {
		font-family: 'Packard Antique';
		font-size: 0.9em;
	}



/* Name text */
	.name-container,
	.romanji-name-1,
	.romanji-name-2,
	.romanji-secondary-name,
	.hiragana-name,
	.hiragana-secondary-name {
		position: absolute;
	}

	.name-container {
		top: 2em;
		left: 22.5em;
	}

	.romanji-name-1 {
		top: 2.5em;
	}

	.romanji-name-2 {
		top: 5em;
	}

	.romanji-secondary-name {
		top: 6.4em;
	}

	.hiragana-name {
		top: 7.15em;
	}

	.hiragana-secondary-name {
		top: 9.8em;
	}

	/* Text */
	.romanji-name-1 p,
	.romanji-name-2 p {
		font-family: 'Packard Antique Bold';
		/* Variable must match font size */
		--romanji-font-size: 2.3;
		font-size: 2.3em;
		margin: 0;
		text-wrap: nowrap;
		letter-spacing: 0.01em;
	}

	.romanji-name-1 p .secondary-letters,
	.romanji-name-2 p .secondary-letters {
		font-size: calc(1.7em / var(--romanji-font-size));
	}

	.romanji-secondary-name p {
		font-family: 'Packard Antique';
		font-size: 0.9em;
		text-wrap: nowrap;
	}

	.hiragana-name p {
		font-family: 'Shippori Mincho';
		font-size: 1.2em;
		letter-spacing: -0.1em;
		text-wrap: nowrap;
	}

	.hiragana-secondary-name p {
		font-family: 'Shippori Mincho';
		font-size: 0.7em;
		letter-spacing: -0.15em;
		text-wrap: nowrap;
	}



/* Epithet */
	.epithet-container {
		position: absolute;
		top: 12.9em;
		left: 22.2em;
	}

	.epithet {
		position: relative;
		margin: 0.3em;
	}

	/* Text */
	.epithet p {
		font-family: 'Packard Antique';
		font-size: 1.6em;
		line-height: 0.4em;
		letter-spacing: 0.02em;
		word-spacing: -0.05em;
	}



/* Position Description */
	.position-description-container {
		font-family: 'Deepdene Roman';
		position: absolute;
		top: 21.38em;
		left: 22.5em;
	}

	/* Text */
	#position-text {
		position: relative;
		top: -0.05em;
		font-size: 0.9em;
		word-spacing: 4.08em;
	}

	#position-description-first-line {
		font-size: 0.8em;
		line-height: 0.5em;
		margin-left: 0;
	}

	.position-description p {
		font-size: 0.8em;
		line-height: 0.5em;
		margin-left: 6.74em;
	}



/* Residence Description */
	.residence-description-container {
		position: absolute;
		font-family: 'Deepdene Roman';
		top: 24.85em;
		left: 22.5em;
	}

	/* Text */
	#residence-text {
		position: relative;
		top: -0.05em;
		font-size: 0.9em;
		word-spacing: 3.3em;
		margin-left: 0;
	}

	#residence-description-first-line {
		font-size: 0.8em;
		line-height: 0.5em;
		margin-left: 0;
	}

	.residence-description {
		font-size: 0.8em;
		line-height: 0.5em;
		margin-left: 6.74em;
	}



/* Alignment */
	.alignment-container {
		position: absolute;
		top: 28.05em;
		left: 22.1em;
		font-family: 'Deepdene Roman';
	}

	.alignment-label {
		padding-left: 0.4em;
		padding-right: 0.4em;
	}

	#alignment-text {
		position: relative;
		top: -0.1em;
		font-size: 0.9em;
		word-spacing: 2.6em;
	}

	#input-alignment-label {
		background-color: #eae5e2;
		padding-left: 0.45em;
		padding-right: 0.45em;
	}

	.karma-value {
		position: absolute;
		top: -0.1em;
		left: 15.2em;
		word-spacing: -0.15em;
	}

	/* Text */
	.alignment-label p {
		font-size: 0.8em;
	}

	.karma-value p {
		position: relative;
		top: 0.1em;
		font-size: 0.8em;
		text-wrap: nowrap;
	}

	#karma-bracket {
		position: relative;
		top: -0.1em;
		font-size: 1em;
		text-wrap: nowrap;
	}
	
	#karma-sign {
		font-family: 'Calisto MT';
		font-size: 1em;
	}



/* Racial Levels */
	.racial-types-container {
		position: absolute;
		top: 30.2em;
		left: 22.5em;
	}

	#racial-level-1-text {
		width: fit-content;
		background-color: #eae5e2;
		padding-left: 0.4em;
		padding-right: 0.4em;
	}

	.racial-type-2,
	.racial-type-3,
	.racial-type-4,
	.racial-type-5,
	.racial-type-6,
	.racial-type-7,
	.racial-type-8,
	.racial-type-last {
		width: fit-content;
		background-color: #eae5e2;
		padding-left: 5.4em;
		padding-right: 0.4em;
	}

	.racial-levels-container {
		position: absolute;
		top: 30em;
		left: 40.2em;
	}

	/* Text */
	.racial-types-container {
		font-family: 'Deepdene Roman';
		line-height: 1.05em;
	}

	#racial-levels-text {
		font-size: 0.9em;
		background-color: transparent;
		margin-right: 1.6em;
	}

	.racial-type-1 p,
	.racial-type-2 p,
	.racial-type-3 p,
	.racial-type-4 p,
	.racial-type-5 p,
	.racial-type-6 p,
	.racial-type-7 p,
	.racial-type-8 p {
		font-size: 0.8em;
		margin-bottom: 1.03em;
	}

	.racial-type-last p {
		padding-bottom: 1em;
		padding-left: 0.3em;
		/* Variable must match font size */
		--racial-type-last-font-size: 0.7;
		font-size: 0.7em;
		line-height: calc(0.3em / var(--racial-type-last-font-size));
	}

	.racial-levels-container p {
		font-family: 'OPTIPaulDavid';
		/* Variable must match font size */
		--racial-levels-container-p-font-size: 0.8;
		font-size: 0.8em;
		line-height: calc(0.53em / var(--racial-levels-container-p-font-size));
	}

	.lvl-num-H {
		/* Variable must match font size */
		--lvl-num-font-size: 3.2;
		font-size: calc(3.2em / var(--racial-levels-container-p-font-size));
		letter-spacing: calc(-0.5em / var(--lvl-num-font-size));
	}

	.level-text-H {
		/* Variable must match font size */
		--level-text-font-size: 1.6;
		font-size: calc(1.6em / var(--racial-levels-container-p-font-size));
		letter-spacing: 0;
	}



/* Job Classes */
	.job-class-type-container {
		position: absolute;
		left: 22.5em;
	}

	#class-levels-text {
		font-size: 0.9em;
		background-color: transparent;
		margin-right: 1.85em;
	}

	#job-class-1-text {
		width: fit-content;
		background-color: #eae5e2;
		padding-left: 0.4em;
		padding-right: 0.4em;
	}

	.job-class-2,
	.job-class-3,
	.job-class-4,
	.job-class-5,
	.job-class-6,
	.job-class-7,
	.job-class-8,
	.job-class-last {
		width: fit-content;
		background-color: #eae5e2;
		padding-left: 5.4em;
		padding-right: 0.4em;
	}

	.job-class-levels-container {
		position: absolute;
		left: 39.37em;
	}

	.job-class-levels {
		margin: 0.8em;
	}

	.last-filler {
		color: #eae5e2;
		background-color: #eae5e2;
	}

	.class-levels-footer p {
		margin: 0;
		padding: 0.5em 1em;
	}

	/* Text */
	.job-class-type-container {
		font-family: 'Deepdene Roman';
		line-height: 1.05em;
	}

	.job-class-1 p,
	.job-class-2 p,
	.job-class-3 p,
	.job-class-4 p,
	.job-class-5 p,
	.job-class-6 p,
	.job-class-7 p,
	.job-class-8 p {
		font-size: 0.8em;
		margin-bottom: 1.03em;
	}

	.job-class-last p {
		padding-bottom: 1em;
		padding-left: 0.3em;
		/* Variable must match font size */
		--job-class-last-font-size: 0.7;
		font-size: 0.7em;
		line-height: calc(0.3em / var(--job-class-last-font-size));
	}

	.job-class-levels-container p {
		font-family: 'OPTIPaulDavid';
		/* Variable must match font size */
		--job-class-container-p-font-size: 0.8;
		font-size: 0.8em;
		line-height: calc(0.53em / var(--job-class-container-p-font-size));
	}

	.lvl-num-L {
		/* Variable must match font size */
		--lvl-num-font-size: 3.2;
		font-size: calc(3.2em / var(--job-class-container-p-font-size));
		letter-spacing: calc(-0.5em / var(--lvl-num-font-size));
	}

	.level-text-L {
		/* Variable must match font size */
		--level-text-font-size: 1.6;
		font-size: calc(1.6em / var(--job-class-container-p-font-size));
		letter-spacing: 0;
	}



/* Acquired Levels */
	.levels-container {
		position: absolute;
		top: 46.08em;
		left: 27.55em;
		font-family: 'Deepdene Roman';
		text-wrap: nowrap;
	}

	.total-acquired-levels-heteromorph-demihuman {
		position: absolute;
		top: 0;
		left: 0;
		word-spacing: 0.08em;
		letter-spacing: 0.00em;
		font-size: 1.05em;
	}

	.total-racial-job-levels-text {
		position: absolute;
		top: 1em;
		left: 0.5em;
		font-size: 1.05em;
	}

	.total-acquired-levels-human {
		display: none;
	}

	#total-racial-levels-text-heteromorph-demihuman {
		font-size: 0.9em;
		margin-right: 11.6em;
	}

	#total-racial-levels-text-human {
		display: none;
	}

	#total-job-levels-text {
		font-size: 0.9em;
	}

	.acquired-racial-levels-heteromorph-demihuman {
		position: absolute;
		top: 2.61em;
	}

	.acquired-job-class-levels-heteromorph-demihuman {
		position: absolute;
		top: 2.61em;
		right: -15.45em;
	}

	.acquired-racial-levels-human {
		display: none;
	}

	.acquired-job-class-levels-human {
		position: absolute;
		top: 2.61em;
		left: 0;
	}

	/* Text */
	.levels-container p {
		font-size: 0.7em;
	}



/* Stat Bars */
.stat-bar-container {
	position: absolute;
	top: 52em;
	left: 18.1em;
	width: 24.93em;
	height: 16.9em;
}

.stat-bar {
	height: calc(100% / 9);
}

.stat-bar-fill {
	position: relative;
	background-color: #ac7fa8;
	top: 0.5em;
	height: 0.85em;
	transition: width 0.5s;
}



/* Total Levels Bar */
.total-levels-bar {
	position: absolute;
	top: 48.925em;
	left: 27.52em;
	width: 15.46em;
	height: 0.41em;
}

.racial-level-bar {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

.racial-level-bar-fill-heteromorph-demihuman {
	background-color: #af5845;
	height: 100%;
	transition: width 0.5s;
}

.racial-level-bar-fill-human {
	display: none;
}

.job-level-bar {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

.job-level-bar-fill-heteromorph-demihuman {
	position: relative;
	float: right;
	background-color: #03a5a8;
	height: 100%;
	transition: width 0.5s;
}

.job-level-bar-fill-human {
	position: relative;
	background-color: #03a5a8;
	height: 100%;
	transition: width 0.5s;
}



/* Character */
.character-container {
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
}

.character {
	position: relative;
}